<!DOCTYPE html>
<html>
<head>
  <title>New Years Resolution Tracker</title>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
  <h1>Welcome to my New Years Resolution Tracker!</h1>
  <h2>Select a table to manage</h2>
  <form method="GET" action="/menu">
    <select name="table">
      <option value"units">Units</option>
      <option value="unit_groups">Unit Groups</option>
      <option value="activity_types">Activity Types</option>
      <option value="activity_logs">Activity Logs</option>
    </select>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
